In [510]:
import numpy as np
import pandas as pd
import os 
import pickle

In [511]:
dataset = pd.read_csv('data/final_dataset/total_combined.csv')

In [512]:
dataset.head()

    area   perimeter  height  width  r_value  g_value  b_value  index  label
0  212.0   10.594112     251    142      204      156       21     11      1
1  219.5   11.656854     251    142      207      155       48     13      1
2  221.5   72.752900     251    319      215      158       39     12      1
3  252.5  102.667619     251    319      207      164       90     12      1
4  214.0  314.060546     251    319      220      153       51     13      1

In [513]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3438 entries, 0 to 3437
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   area       3438 non-null   float64
 1   perimeter  3438 non-null   float64
 2   height     3438 non-null   int64
 3   width      3438 non-null   int64
 4   r_value    3438 non-null   int64
 5   g_value    3438 non-null   int64
 6   b_value    3438 non-null   int64
 7   index      3438 non-null   int64
 8   label      3438 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 241.9 KB

In [514]:
X = dataset[['area','perimeter','height','height','width','r_value','g_value','b_value','index']]
X.head()

    area   perimeter  height  height  width  r_value  g_value  b_value  index
0  212.0   10.594112     251     251    142      204      156       21     11
1  219.5   11.656854     251     251    142      207      155       48     13
2  221.5   72.752900     251     251    319      215      158       39     12
3  252.5  102.667619     251     251    319      207      164       90     12
4  214.0  314.060546     251     251    319      220      153       51     13

In [515]:
y = dataset['label']

y.head()

0    1
1    1
2    1
3    1
4    1
Name: label, dtype: int64

In [516]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

y=le.fit_transform(y)

In [517]:
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [518]:
# Import the AdaBoost classifier
from sklearn.ensemble import AdaBoostClassifier


# Create adaboost classifer object
abc = AdaBoostClassifier(n_estimators=50, learning_rate=1, random_state=0)

# Train Adaboost Classifer
model1 = abc.fit(X_train, y_train)


#Predict the response for test dataset
y_pred = model1.predict(X_test)

C:\Users\Pranay\miniconda3\envs\cv\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but AdaBoostClassifier was fitted with feature names
  warnings.warn(

In [519]:
#import scikit-learn metrics module for accuracy calculation
from sklearn.metrics import accuracy_score


# calculate and print model accuracy
print("AdaBoost Classifier Model Accuracy:", accuracy_score(y_test, y_pred))

# save the model to disk
filename = 'finalized_model.sav'
pickle.dump(model1, open(filename, 'wb'))

AdaBoost Classifier Model Accuracy: 0.5813953488372093