In [9]:
import numpy as np
import pandas as pd
import os
import shutil

In [33]:
dataset = pd.read_csv('data_v2/val.csv')
dataset.head()

   index  rvalue  g_value  b_value                           path
0      1     233      133       89  data_v2/raw_val/grade1_75.jpg
1      2     233      144       15  data_v2/raw_val/grade3_12.jpg
2      3     232      148       21  data_v2/raw_val/grade4_22.jpg
3      4     231      151       69  data_v2/raw_val/grade8_65.jpg
4      5     230      152       25  data_v2/raw_val/grade2_18.jpg

In [ ]:
i=571
while i < 685:
    shutil.move(dataset['path'][i],'data_v2/val/6')
    i+=1